/* --- FUENTES --- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* --- GENERAL --- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-width: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom:  1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 200px;
}

.inicio-img img {
    width: 35vw;
    
}


.inicio-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.inicio-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.inicio-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-content p {
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.sobremi-img img {
    width: 35vw;
    border-radius:  3rem / 5rem;
    border: 3px solid var(--main-color);
}

.encabezado {
    text-align: center;
    font-size: 4.5rem;
}

.sobremi-content h2 {
    text-align: left;
    line-height: 1.2;
}

.sobremi-content h3 {
    font-size: 2.6rem;
}

.sobremi-content p {
    font-size: 1.6rem;
    margin: 2rem, 0 3rem;
}

.carrera-img {
    display: flex;
    justify-content: center;
}

.habilidades h2 {
    margin-bottom: 5rem;
}

.habilidades-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.habilidades-container .habilidades-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color); 
    transition: .5s ease;
}

.habilidades-container .habilidades-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.habilidades-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.habilidades-box h3 {
    font-size: 2.7rem;
}

.habilidades-box img {
    padding-top: 15px;
}

.proyectos {
    background: var(--second-bg-color);
}

.proyectos h2 {
    margin-bottom: 4rem;
}

.proyectos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 100px;
    margin-bottom: 200px;
}

.proyectos-container .proyectos-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.proyectos-box img {
    width: 100%;
    transition: .5s ease;
}

.proyectos-box:hover img {
    transform: scale(1.1);

}

.proyectos-box .proyectos-display {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.proyectos-box:hover .proyectos-display {
    transform: translateY(0);
}

.proyectos-display h4 {
    font-size: 3rem;
}

.proyectos-display p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.proyectos-display a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.proyectos-display a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contacto h2 {
    margin-bottom: 3rem;
}

.contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30rem;
}

.contacto-container a i{
    font-size: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(--main-color);
    border-radius: 30%;
    box-shadow: 0 0 3rem var(--main-color);
    transition: .5s ease;
    color: var(--second-bg-color);
    background: var(--main-color);
}

.contacto-container a i:hover{
    font-size: 350px;
    box-shadow: none;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 990px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .habilidades h2 {
        padding-bottom: 7rem;
    }

    .proyectos {
        padding-bottom: 7rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .inicio {
        flex-direction: column;
    }

    .inicio-content h3 {
        font-size: 2.6rem;
    }

    .inicio-content h1 {
        font-size: 5rem;
    }

    .sobremi {
        flex-direction: column;
    }

    .sobremi-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .habilidades h2 {
        margin-bottom: 3rem;
    }

    .proyectos h2 {
        margin-bottom: 3rem;
    }

    .proyectos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacto-container {
        display: flex;
        flex-direction: column;
    }

    .contacto-container a i{
        font-size: 150px;
        margin-top: 50px;
        margin-bottom: 50px;
      
    }
    
    .contacto-container a i:hover{
        font-size: 150px;

    }

}

@media (max-width: 620px) {
    .proyectos-container {
        grid-template-columns: 1fr;
    }
}

.sobremi-img-certificados {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.8);
    
    
    z-index: 999;
}

.certificados-img {
    width: 80%;

    border-radius: 10px;


    border: 3px solid #00c9bd;
}

.seccion-certificados {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    z-index: 999;
}

.d-item {
    height: 680px;

}
  
.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9); 
    margin: auto;
}
  
.title-1 {
    color: #ffd342;
    text-shadow: 1px 3px #c21212; }
  
.title-2 {
    color: #000;
    text-shadow: 1px 3px #fff; }
  
.title-3 {
    text-shadow: 1px 3px #ffd342; }
  
.title-4 {
    color: #fff;
    text-shadow: 1px 3px #000; }
  
.btnCerrar {
    margin-top: 480px;
    background: #00c9bd; 
}
.btnCerrar:hover {
    background: #2c3e50;
    color: #fff;
    border: 3px solid #00c9bd; 
}
